.sector-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    outline: solid rgb(255, 126, 126) 2px;
}

.sector-item input, select{
    height: 40px;
    margin: 0
}

.sector-item label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.sector-item input[type=number]{
    width: 50px;
}

.sector-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}