.sector-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sector-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: rgb(65, 65, 65);
    border-radius: 0.5rem;

    width: 100%;
    height: 3rem;

    padding: 0px 1rem;
}

.sector-item h5{
    align-self: left;
}

.sector-item input{
    display: none;
    cursor: pointer;
}

.sector-item table {
    width: 100%;
}

.sector-item table tr{
    display: flex;
    justify-content: space-between;
}

.sector-item table th, td {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

