:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    display: flex;
    justify-content: center;
    
  }
  
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
    width: 100vw;
    max-width: 800px;
  }
  
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  main {
    display:flex;
    justify-content: center;
    width: 100%;
  }
  
  button {
    color: black;
  }

  .page header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movies {
    list-style-type: none;
  
    margin: 0;
    padding: 0;
    gap: 1rem;
  
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
  
  .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .movie h3, .movie p, .movie img{
    margin: 0;
    padding: 0;
  }
  
  .movie img {
    width: 200px;
    height: auto;
  }

  .movie header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }